/* ページ遷移アニメーション */
.page-enter {
  transform: translateX(50px);
  opacity: 0;
}
.page-enter-to {
  opacity: 1;
}
.page-enter-active {
  transition: all 1s 0s ease-out;
}
.page-leave {
  transform: translateY(0);
  opacity: 1;
}
.page-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
.page-leave-active {
  transition: all 0.5s 0s ease-in;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.4s;
}

/* font-family 明朝体*/
.f-f {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
    "Yu Mincho", "MS PMincho", serif;
}
